body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1E90FF;
    overflow: hidden;
}

.bubble-container {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .bubble {
    border-radius: 50%;
    position: absolute;
    opacity: 0.7;
    animation: moveBubble linear infinite;
} */

.bubble {
    border-radius: 50%;
    position: absolute;
    animation: moveBubble linear infinite;
    background-image: url('beer.jpg'); /* Path to your beer texture image */
    background-size: cover;
    border: 2px solid #FFBF00; /* Optional: gives a more defined edge to the bubble */
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Optional: adds some depth */
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 3em; /* Adjust size as needed */
    font-weight: bold;
    z-index: 10; /* Ensures the text is above the bubbles */
    text-align: center;
}
/* #countdown {
    font-size: 100px;
    color: #333;
    text-align: center;
    margin-top: 20px;
} */
.game-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em; /* Adjust size as needed */
    font-weight: bold;
    z-index: 10; /* Ensures the text is above the bubbles */
}

.white-link {
    color: white;
    text-decoration: none; /* Optional */
}

@keyframes moveBubble {
    0%, 100% {
        transform: translateY(0) translateX(0);
    }
    25% {
        transform: translateY(-100px) translateX(100px);
    }
    50% {
        transform: translateY(-200px) translateX(-100px);
    }
    75% {
        transform: translateY(100px) translateX(-200px);
    }
}
